<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uarmy.art.bt_sync" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".BtSync"
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.uarmy.art.mark_sync.MarkSync"
            android:label="@string/title_activity_mark_sync" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.uarmy.art.mark_provider.MarksProvider"
            android:authorities="com.uarmy.art.mark_provider.provider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.uarmy.art.mark_provider.provider.permission.READ_PROVIDER"
            android:writePermission="com.uarmy.art.mark_provider.provider.permission.WRITE_PROVIDER" >
        </provider>

        <activity
            android:name="com.uarmy.art.mark_provider.MarksBrowser"
            android:label="@string/title_activity_marks_browser" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
